body {
  padding-top: 0x; /* Set to the height of your header */
  margin: 0; /* Reset margin to prevent unwanted space */
}
.navbar {
  background-color: #ff6600; /* Navbar background color */
}
.navbar.fixed-top {
  background-color: #ff6600; /* Navbar background color when fixed */
}
.navbar.fixed-top.scroll {
  background-color: #ff6600; /* Navbar background color when scrolled */
}
.navbar-light .navbar-nav .nav-link {
  color: #fff; /* Navbar text color */
}
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 2px solid #fff; /* Underline effect on text when hovered */
}

/* Custom styles for the banner */
#banner {
  position: relative;
  height: 500px; /* Sesuaikan tinggi banner sesuai kebutuhan */
  overflow: hidden;
  text-align: center;
  color: #fff; /* Warna teks pada banner */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transform: skew(100deg); /* Membuat miring dari kanan 10 derajat */
  z-index: -1;
}

#banner h1 {
  font-size: 3em; /* Ukuran font teks */
  margin: 0; /* Reset margin to prevent unwanted space */
}

/* Parallax effect on scroll */
#banner.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("banner.jpg") center/cover no-repeat fixed;
  z-index: -1;
}

#post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  width: 500px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.post-thumbnail {
  width: 100%;
  height: auto;
}

.post-title {
  margin-top: 120px;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.post-thumbnail {
  width: 100%;
  height: auto;
}

.post-title {
  margin-top: 10px;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#itemsPerPage {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
}
.select-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.select-wrapper select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-right: 5px;
}

.arrow {
  font-size: 18px;
  cursor: pointer;
  transform: translateX(-200%);
}

/* Add styles for pagination controls if needed */
